@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat');

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 35px;
  margin-top: 15%;
}

.App-title {
  font-size: 40px;
  font-family: 'IBM Plex Mono', monospace;
}